@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0%      { --gradient-angle: 0deg; }
    100%    { --gradient-angle: 360deg; }
}

@font-face {
    font-family: Glitch;
    src: url(glitch.ttf);
}

@font-face {
    font-family: Bastard;
    src: url(bastard.ttf);
}

:root {
    --clr-bg: #120020;
    --clr-lg: #160030;
    --clr-sg: #210047;
    
    --clr-01: #a800a8;
    --clr-02: #6c57d1;
    --clr-03: #0078d8;
    --clr-04: #008cc1;
    --clr-05: #0e9aaa;
    
    --text-color: #d6b7ff;
}

body {
    background: var(--clr-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.title {
    margin-top: 100px;
    margin-bottom: 75px;
    width: 300px;
    height: 75px;
    background: var(--clr-lg);
    border-radius: 100px;
    color: var(--text-color);
    font-family: Glitch;
    font-size: 48px;
    
    text-align: center;
    align-content: center;

    position: relative;
    transition: all 0.5s;
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    inset: -7.5px;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-01),
        var(--clr-02),
        var(--clr-03),
        var(--clr-04),
        var(--clr-05),
        var(--clr-04),
        var(--clr-03),
        var(--clr-02),
        var(--clr-01));
    border-radius: inherit;
    animation: rotation 20s linear infinite;
    z-index: -1;
}

.title::after {
    filter: blur(50px);
}

.title:hover {
    transition: all 0.5s;
    width: 320px;
    height: 75px;
    margin-top: 75px;
    margin-bottom: 100px;
    font-size: 56px;
}



.card {
    height: 600px;
    aspect-ratio: 1.5 / 1;
    background: var(--clr-lg);
    border-radius: 75px;

    position: relative;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -7.5px;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-01),
        var(--clr-02),
        var(--clr-03),
        var(--clr-04),
        var(--clr-05),
        var(--clr-04),
        var(--clr-03),
        var(--clr-02),
        var(--clr-01));
    border-radius: inherit;
    animation: rotation 20s linear infinite;
    z-index: -1;
}

.card::after {
    filter: blur(50px);
}

.card-child {
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.card-fade {
    background: linear-gradient(to top, var(--clr-lg), transparent);
    width: 80%;
    position: absolute;
    height: 100px;
    display: block;
    bottom: 0;
    left: 10%;
    right: 10%;
    pointer-events: none;
    z-index: 2;
}

.link {
    color: var(--text-color);
    font-family: Bastard;
    font-size: 48px;
    text-decoration: none;
    
    text-align: center;
    align-content: center;

    position: relative;
    transition: all 0.5s;
}

.link:hover {
    transition: all 0.5s;
    font-size: 56px;
}
